<h6>Archives</h6>
<nav class="archives">
  <ul>
    <li><a href="/journal/2020/07/">July</a></li>
    <li><a href="/journal/2020/06/">June</a></li>
    <li><a href="/journal/2020/05/">May</a></li>
    <li><a href="/journal/2020/04/">April</a></li>
    <li><a href="/journal/2020/03/">March</a></li>
    <li><a href="/journal/2020/02/">February</a></li>
    <li><a href="/journal/2020/01/">January</a></li>
  </ul>
</nav>