<h6>Out of the ordinary</h6>
<nav class="featured">
  <ul>
    <li><a href="/writing/abc/">Quis hendrerit dolor magna eget est lorem ipsum dolor</a></li>
    <li><a href="/writing/def/">Velit ut tortor pretium viverra suspendisse</a></li>
    <li><a href="/writing/ghi/">Amet aliquam id diam maecenas</a></li>
    <li><a href="/writing/jkl/">Quis hendrerit dolor</a></li>
    <li><a href="/writing/mno/">Eget est lorem ipsum dolor sit amet consectetur</a></li>
  </ul>
</nav>