<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, user-scalable=no" />
    <link href="https://fonts.googleapis.com/css?family=Source+Serif+Pro&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="{{ '/assets/css/base.css' | url }}" />
    <title>{{ title }} | Adam Suttin</title>
  </head>
  <body}>
    {% include "layouts/partials/header.njk" %}
    <main>
    </main>
    {% include "layouts/partials/footer.njk" %}
    {% include "layouts/partials/nav.njk" %}
  </body>
</html>