{% extends "layouts/design.njk" %}

{% block main_column_1 %}
<div class="listing">
  {% include "./partials/article_header.njk" %}
  {% include "./partials/paginated_listing.njk" %}
</div>
{% endblock %}