<h6>Podcast Index</h6>
<form id="search-byterm">
  <input type="search" name="term" placeholder="Type in a term" maxlength="100" />
  <button type="button" onclick="handleSearchByTermClick()">Search</button>
</form>
<ul id="search-results"></ul>