<h6>Featured</h6>
<nav class="featured">
  <a href="/writing/abc/">Quis hendrerit dolor magna eget est lorem ipsum dolor</a>
  <a href="/writing/def/">Velit ut tortor pretium viverra suspendisse</a>
  <a href="/writing/ghi/">Amet aliquam id diam maecenas</a>
  <a href="/writing/jkl/">Quis hendrerit dolor</a>
  <a href="/writing/mno/">Eget est lorem ipsum dolor sit amet consectetur</a>
</nav>