main header a.section-link,
.main-nav a.nav-notes:hover,
.main-nav a.nav-notes:active,
.main-nav a.nav-notes.active {
  background: var(--color-notes);
  color: rgb(255,255,255);
}

h1.screen--heading {
  background-color: var(--color-notes);
  background-image: url(img/notebooks-banner.png);
  background-position: bottom left;
  background-repeat: no-repeat;
  background-size: cover;
  border-color: rgba(0,0,0,.75);
  border-style: solid;
  border-width: 1rem 1px 1px 0;
  color: rgb(255,255,255);
  min-height: 20rem;
  text-transform: uppercase;
}
h2.screen--subheading {
  color: var(--color-notes);
}

.listing > .cards {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  margin: 2rem 0 0 0;
}

.listing article {
  background: rgb(255,255,255);
  box-shadow: 0 0 2px rgba(0,0,0,0.2);
  padding: 1rem;
}
.listing article:hover {
  background: rgba(14, 173, 105, 0.05);
}

.listing .cards h4 { font-size: 1.2rem; }
.listing .cards header p { font-size: 1rem; }

main a {
  background-image: linear-gradient(transparent 70%,var(--color-notes) 70%,var(--color-notes) 85%,transparent 85%,transparent 100%);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: inherit;
  text-decoration: underline;
  transition: all .25s;
}

main a:active,
main a:focus,
main a:hover {
  background-size: 0 100%;
  text-decoration: none;
}

article.content ul {
  margin: 0 0 2rem 1rem;
  padding: 0;
}

article.content li {
  margin: 0 0 1rem 0;
  padding: 0;
}

.notes--links > ul {
  margin: 0;
  padding: 0 0 0 1rem;
}

.notes--links ul > li {
  list-style-position: outside;
  list-style-type: '\260D';
  margin: 0 0 .5rem 0;
  padding: 0 0 0 .5rem;
}