<footer class="main-footer">
  <nav>
    <a href="/news/">News</a>
    <a href="/about/">About</a>
    <a href="/contact/">Contact</a>
    <a href="/contact/">RSS</a>
  </nav>
  <p>Hi. My name is Adam Suttin and this is my site. I write about what interests me, which is usually web design, development, and technology.</p>
  <p class="copyright">&copy; 2020</p>
</footer>