<nav class="main-nav">
  <span class="spacer"></span>
  <a href="/writing/" class="nav-writing {% if '/writing/' in page.url %}active{% endif %}"><span>Writing</span></a>
  <a href="/notes/" class="nav-notes {% if '/notes/' in page.url %}active{% endif %}"><span>Notes</span></a>
  <a href="/journal/" class="nav-journal {% if '/journal/' in page.url %}active{% endif %}"><span>Journal</span></a>
  <a href="/" class="nav-home"><span>Home</span></a>
  <a href="/design/" class="nav-design {% if '/design/' in page.url %}active{% endif %}"><span>Design</span></a>
  <a href="/develop" class="nav-develop {% if '/develop/' in page.url %}active{% endif %}"><span>Develop</span></a>
  <a href="/learn/" class="nav-learn {% if '/learn/' in page.url %}active{% endif %}"><span>Learn</span></a>
  <span class="spacer"></span>
</nav>