{% include "layouts/partials/pagination.njk" %}
<div class="cards">
{% for note in pagination.items %}
  <article>
    <header>
      <h4><a href="{{ note.url | url }}">{{ note.data.title }}</a></h4>
      {% if note.data.subtitle %}<h5>{{ note.data.subtitle }}</h5>{% endif %}
      <p class="date">{{ note.date | usDate }}</p>
    </header>
    {% if note.data.summary %}
    <p>{{ note.data.summary | safe }}</p>
    {% endif %}
    {% if note.data.tags %}
    <nav class="tags">
    {% for tag in note.data.tags %}
      <a href="/notes/tags/{{ tag }}/">{{ tag }}</a>{% endfor %}
    </nav>{% endif %}
  </article>
{% endfor %}
</div>
{% include "layouts/partials/pagination.njk" %}