<header class="main-header">
  <a href="/" class="logo">
    <span class="primary">Adam Suttin</span>
    <span class="secondary">A web mountaineer</span>
  </a>
  <span class="spacer"></span>
</header>