<ul class="most-recent">
  {% for post in collections.writingEntries | head(1) %}
  <li><span class="date">{{ post.date | usDateShort }}</span> <a href="{{ post.url | url }}">{{ post.data.title }}</a></li>
  {% endfor %}
</ul>